<html>
<head lang="en">
    <meta charset="utf-8">
</head>
<body>
    <form action="charge" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_WyK93y9mvps7SN"
            data-amount= {{amount}}
            data-name="TinkerHub Foundation"
            data-description="Donation"
            data-image="images/logo_th.jpg"
            data-netbanking="true"
            data-description="Donation for TinkerHub foundation"
            data-prefill.name="Gopikrishnan Sasikumar"
            data-prefill.email="gks@tinkerhub.org"
            data-prefill.contact="0000000000"
            data-notes.shopping_order_id="21">
        </script>
        <input type="hidden" name="shopping_order_id" value="21">
    </form>
</body>
</html>