<!DOCTYPE html>
<html>

<head>
    <title>TinkerHub Foundation - Donations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <div class="text-description">
        <img src="{{ url_for('static', filename='images/TinkerHub_Foundation.png') }}" alt="">
        <h2>The world is changing, and
            <br>we want India to be ready.
            <br>We're here to make sure that
            <br>everyone has access to the
            <br>knowledge required to set
            <br>the course for a better future.
        </h2>
        <h3>
            Would you be willing to make a contribution
            <br>today? A gift of any amount would mean the
            <br>world to us.
        </h3>
        <hr><br>
        <h5>
            Your contribution is tax-deductible. Receipts are sent via email in 5-7
            <br>business days. Questions or concerns? Please contact:
            <br>hello@tinkerhub.org
        </h5>
        <br><br>
        <ul class="footer">
            <li>
                <a href="https://tinkerhub.org">Home</a>
            </li>
            <li>
                <a href="https://tinkerhub.org/about">About Us</a>
            </li>
            <li>
                <a href="innews.html">In news</a>
            </li>
            <li>
                <a href="https://tinkerhub.org/contact">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="donbox">
        <div class="boxborder">
            <img class="hearticon" src="{{ url_for('static', filename='images/heart.png') }}">
            <h1>Join us in changing lives</h1>
            <h5>Donate as low as Rs. 100 per month</h5>
            <form method="POST" action="donate"> 
            <div class="boxelements1">
                <input type="radio" id="radio_1" class="radio1" name="payment" value="subscription" onchange="paymenttype(this.value)">
                <label for="radio_1" class="label1">
                    <span class="selection"></span>
                </label>
                <h3>Monthly</h3>
                <h6>Requires credit card</h6>
                <h4 class="recommend">Recommended</h4>
            </div>
            <div class="boxelements2">
                <input type="radio" id="radio_2" class="radio" name="payment" value="one_time" onchange="paymenttype(this.value)">
                <label for="radio_2" class="label2">
                    <span class="selection"></span>
                </label>
                <h3>One-time</h3>
                <h6>UPI, Net Banking, <br><br>all cards supported</h6>
            </div>  
            <div class="amounts">
                    <br><br><br><br><br><br><br>
                    <input id="10k" type="radio" class="amountradio" name="amount" value="10000" onclick="tobackend(this.value)"><label for="10k" class="label"><span>&#8377;</span>10,000<p>every month</p></label></input>
                    <input id="5k" type="radio" class="amountradio" name="amount" value="5000" onclick="tobackend(this.value)"><label for="5k" class="label"><span>&#8377;</span>5,000<p>every month</p></label></input>
                    <input id="3k" type="radio" class="amountradio" name="amount" value="3000" onclick="tobackend(this.value)"><label for="3k" class="label"><span>&#8377;</span>3,000<p>every month</p></label></input>
                    <br>
                    <input id="1k" type="radio" class="amountradio" name="amount" value="1000" onclick="tobackend(this.value)"><label for="1k" class="label"><span>&#8377;</span>1,000<p>every month</p></label></input>
                    <input id="5c" type="radio" class="amountradio" name="amount" value="500" onclick="tobackend(this.value)"><label for="5c" class="label"><span>&#8377;</span>500<p>every month</p></label></input>
                    <input id="x" type="text" class="otheramount" name="amount" value="Other" onfocus="this.value=''" onchange="tobackend(this.value)"></input>
            </div>
            <div class="donatebutton">
                <input type="text" id="amount" name="amount" style="display: none;">
                <input type="text" id="type" name="type" style="display: none;">
                <button type="submit"></button>
            </div>
            </form>
            
            <script>
                function paymenttype(payment_type)
                {
                    document.getElementById("type").value = payment_type;
                }
                function tobackend(amount)
                {
                    document.getElementById("amount").value = amount;
                }
            </script>
        </div>

    </div>
</body>

</html>
